html,body{
background-image:
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.carousel

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 150px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.form-element {
  margin-bottom: 20px;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
